
.product_bradcum .breadcrumb li {
    font-size: 16px;
    font-weight: 600;
    color: var(--top_heading_color);
}

.product_bradcum .breadcrumb li a:hover{
    color: var(--top_heading_color);
}

.breadcrumb{
    background: #FFF;
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 20px;
}

#product_banner{
    margin-top: 30px;
}

#product_banner img {
    border-radius: 20px;
    width: 100%;
}

#product_description .product_description_content{
    background: #FFF;
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid #ddd;
}

#product_description .product_description_content h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--bg_color);
    position: relative;
    display: inline-block;
}

#product_description .product_description_content h3::after{
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--top_heading_color);
}

#product_description .product_description_content p{
    margin-top: 30px;
}

#product_description .product_description_content .video{
    margin-top: 50px;
}

#product_description .product_description_content .video iframe{
    border-radius: 20px;
}

.product_description_content .Features{
    margin-top: 30px;
}

.product_description_content .Features .img{
    margin-bottom: 30px;
}

.product_description_content .Features .img:last-child{
    margin-bottom: 0;
}

.product_description_content .Features .img img{
    height: 120px;
    width: auto;
    object-fit: cover;
}